@if (ordersList()?.order?.length) {

  <div class="space-y-6 max-w-[800px] mx-auto my-5">

    @for (order of ordersList()!.order; track order.id) {

      <div class="bg-white rounded-xl shadow-lg  p-5">

        <!-- Order Header -->
        <div class="flex justify-between items-start border-b pb-3 mb-4">
          <div>
            <h3 class="text-lg font-semibold text-gray-800">
              Order
            </h3>
            <p class="text-xs text-gray-500 break-all">
              Order Id : {{ order.id }}
            </p>
          </div>

          <div class="text-right">
            <p class="text-sm font-medium text-gray-700">
              Total: <span class="text-green-600 font-semibold">₹{{ order.total }}</span>
            </p>
          </div>
        </div>

        <!-- Order Items -->
        <div class="space-y-4">

          @for (item of order.orderItem; track item.id) {

            <div class="flex gap-4 items-center">

              <img
                [src]="item.product.image"
                alt="{{ item.product.productName }}"
                class="w-20 h-20 object-cover rounded-lg border"
              />

              <div class="flex-1">
                <h4 class="text-base font-semibold text-gray-800">
                  {{ item.product.productName }}
                </h4>

                <p class="text-sm text-gray-600 line-clamp-2">
                  {{ item.product.description }}
                </p>

                <div class="flex gap-4 mt-1 text-sm text-gray-700">
                  <span>₹{{ item.product.price }}</span>
                  <span>Qty: {{ item.quantity }}</span>
                </div>
              </div>

            </div>

          }

        </div>

      </div>

    }

  </div>

} @else {

  <div class="text-center text-gray-500 py-10">
    No orders found
  </div>

}
